

.container {
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 20px;
    height: 20px;
    background-color: aquamarine;
    margin: 5px;
    display: block;
}

.grade {
    display: flex;
    flex-wrap: wrap;
}